@use '../utils/' as *;

.answer {
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--spacing-8);
		padding-top: var(--spacing-4);
		padding-bottom: var(--spacing-4);
		text-align: center;
	}
	&__title {
		margin-top: var(--spacing-4);
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-8);
		padding-top: var(--spacing-4);
		padding-bottom: var(--spacing-4);
		width: 100%;
		background-color: var(--bg-content);
		border-radius: 0.5em;
		box-shadow: shadow(xl);

		@include mq(small) {
			flex-direction: row;
		}
	}
	&__mood {
		width: 100%;
	}

	&__mood-number {
		--fs-heading: var(--fs-heading-lg);
		--lh-heading: var(--lh-heading-lg);
		font-size: var(--fs-heading);
		font-weight: var(--fw-medium);
		line-height: var(--lh-heading);
		color: var(--text-mood-number);

		@include mq(small) {
			--fs-heading: var(--fs-heading-xl);
			--lh-heading: var(--lh-heading-xl);
		}
	}

	&__mood-text {
		--fs-text: var(--fs-text-lg);
		--lh-text: var(--lh-text-lg);
		margin-top: var(--spacing-3);
		font-size: var(--fs-text);
		line-height: var(--lh-text);
		color: var(--text-mood);
	}

	&__advice-box {
		justify-content: center;
		min-height: 60px;

		&.happy {
			color: var(--success-700);
			background-color: var(--success-100);
		}
		&.bored {
			color: var(--warning-700);
			background-color: var(--warning-100);
		}

		&.bad {
			color: var(--error-700);
			background-color: var(--error-100);
		}
	}
}
