@use '../utils/' as *;

.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    padding-top: var(--spacing-4);
	padding-bottom: var(--spacing-4);
    
	gap: var(--spacing-8);
    box-shadow: shadow(lg);
    @include mq(small) {
		padding-top: var(--spacing-16);
		padding-bottom: var(--spacing-16);
	}

	
	&__subtitle {
		color: var(--primary-900);
		text-align: center;
	}

	&__subtitle {
		@include mq(small) {
			text-align: left;
		}
	}
    &__text-info {
		color: var(--primary-700);
		text-align: center;
	}
	

	&__name {
		width: 100%;
		// height: 20vh;
		padding-top: var(--spacing-8);
	}

	&__name-capture,
	&__name-display {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
		@include mq(small) {
			flex-direction: row;
			justify-content: center;
		}
	}

	&__hint-text {
		color: var(--primary-700);
	}

	&__btn {
		@include mq(small) {
			height: 48px;
		}
	}

	&__name-display {
		.hero__btn {
			@include mq(small) {
				align-self: center;
			}
		}
	}

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.hero.start {
	.hero {
		&__name,
		&__img {
			visibility: hidden;
		}
	}
}
