@use '../utils/' as *;

.question {
	margin-bottom: var(--spacing-8);

	&__emoticons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--spacing-8);
		padding-top: var(--spacing-8);
	}

	&__emoticon {
		max-width: 280px;
		max-height: 220px;
		pointer-events: none;

		@include mq(small) {
			max-width: 10em;
		}
	}
}
