@use '../utils/' as *;


.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0.875rem;
	font-family: var(--ff-tertiary);
	font-size: var(--fs-text-sm);
	font-weight: var(--fw-medium);
	line-height: var(--lh-text-sm);
	letter-spacing: 0.08em;
	text-decoration: none;
	white-space: nowrap;
	color: var(--btn-font-color);
	background-color: var(--btn-bg-color);
	border: 1px solid var(--btn-border-color);
	border-radius: 0.5em;
	box-shadow: shadow(xs);
	outline: none;
	user-select: none;
	vertical-align: middle;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s ease-out;

	&:hover {
		--btn-bg-color: var(--btn-bg-color-hover);
	}
	&:focus-visible {
		box-shadow: shadow(xs-focus);
	}
	&.disabled {
		--btn-font-color: var(--btn-font-color-disabled);
		--btn-bg-color: var(--btn-color-base);
		box-shadow: none;
		cursor: not-allowed;

		&:focus-visible {
			box-shadow: none;
		}
	}
	&--outlined {
		--btn-border-color: var(--btn-border-color-outlined);

		&:hover {
			--btn-bg-color: var(--btn-bg-color-hover-outlined);
			--btn-border-color: var(--btn-border-color-hover-outlined);
		}

		&.disabled {
			--btn-font-color: var(--btn-font-color-disabled-outlined);
			--btn-bg-color: var(--btn-color-base);
			--btn-border-color: var(--btn-border-color-disabled-outlined);
		}
	}

	&--contained {
		--btn-font-color: var(--btn-font-color-contained);
		--btn-bg-color: var(--btn-bg-color-contained);
		--btn-border-color: var(--btn-border-color-contained);

		&:hover {
			--btn-bg-color: var(--btn-bg-color-hover-contained);
			--btn-border-color: var(--btn-border-color-hover-contained);
		}

		&.disabled {
			--btn-font-color: var(--btn-font-color-disabled-contained);
			--btn-bg-color: var(--btn-bg-color-disabled-contained);
			--btn-border-color: var(--btn-border-color-disabled-contained);
		}
	}

	&--xl {
		padding: 0.75rem 1.25rem;
		font-size: var(--fs-text-md);
		line-height: var(--lh-text-md);
	}
}


/* ripple effect */
.ripple-effect {
	position: relative;
}
span.ripple-el {
	position: absolute;
	background-color: var(--btn-ripple-effect);
	opacity: 0.7;
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0);
	animation: ripple-animation 0.5s linear;
}


