$themes: (
	'light': (
		'gray': (
			000: hsla(0, 0%, 100%, 1),
			025: hsl(240, 20%, 99%),
			050: hsla(210, 24%, 98%, 1),
			100: hsla(220, 22%, 96%, 1),
			200: hsla(220, 17%, 93%, 1),
			300: hsla(216, 16%, 84%, 1),
			400: hsla(218, 15%, 65%, 1),
			500: hsla(220, 13%, 46%, 1),
			600: hsla(215, 18%, 34%, 1),
			700: hsla(217, 23%, 27%, 1),
			800: hsla(215, 32%, 17%, 1),
			900: hsl(220, 43%, 11%),
			1000: hsla(0, 0%, 0%, 1),
		),
		primary: (
			025: hsla(264, 100%, 99%, 1),
			050: hsla(264, 100%, 98%, 1),
			100: hsla(267, 100%, 96%, 1),
			200: hsla(268, 95%, 92%, 1),
			300: hsla(265, 89%, 86%, 1),
			400: hsla(262, 85%, 77%, 1),
			500: hsla(260, 77%, 70%, 1),
			600: hsla(259, 63%, 59%, 1),
			700: hsla(258, 54%, 52%, 1),
			800: hsla(256, 48%, 42%, 1),
			900: hsla(254, 45%, 34%, 1),
		),
		error: (
			100: hsla(4, 95%, 94%, 1),
			700: hsla(4, 76%, 40%, 1),
		),
		warning: (
			100: hsla(44, 98%, 89%, 1),
			700: hsla(22, 92%, 37%, 1),
		),
		success: (
			100: hsla(141, 82%, 90%, 1),
			700: hsla(155, 96%, 24%, 1),
		),
	),
	'dark': (
		bg: (
			line:var(--gray-0),
			gradient-1: var(--gray-800),
			gradient-2: var(--gray-700),
			section: var(--gray-800),
			modal: var(--gray-700),
			main: var(--gray-500),
			content: var(--gray-700),
		),
		text: (
			header-info: var(--gray-200),
			hint: var(--gray-200),
			subtitle: var(--gray-0),
			mood-number: var(--gray-0),
			mood: var(--gray-200),
		),
		btn: (
			bg-color: var(--gray-300),
			bg-color-hover-outlined: var(--gray-400),
		),
	),
);

$rgb: (
	'white': (
		255,
		255,
		255,
	),
	'black': (
		0,
		0,
		0,
	),
	ligth: (
		255,
		255,
		255,
	),
	dark: (
		52,
		64,
		84,
	),
	'gray': (
		16,
		24,
		40,
	),
);
